*{
  font-family: 'Bricolage Grotesque', sans-serif;
}

[id] { /* This will apply to any element with an ID, adjust as necessary for your use case */
  scroll-margin-top: 80px; /* Adjust to the height of your header */
}

body{
  padding-top: 80px;
  background-color: rgb(227, 137, 137) !important;
  color: white !important
}

.container{
  font-size: 14px;
  max-width: 2000px !important;
}

#expand-button{
  position: fixed;
  left: 15px;
  height: 40px;
  width: 40px;
  top: 80px;
  border-radius: 50px;
  margin: 0;
  padding: 0;
}

#expand-button *{
  font-size: 30px;
  height: 20px;
  width: 20px;
}

#expand-button:hover{
  background-color: #d3d3d3;
  color: black
}

#contents-slider{
  width: 240px;
  padding-right:10px;
}

.navbar{
  position: fixed !important;
  width: 100%;
  top: 0;
  left:0;
  background-color: white !important;
  padding: 10px !important;
  font-size: 25px !important;
  font-weight: 800;
}

.navbar i{
  color: black;
}

.fa-magnifying-glass{
  font-size: 20px;
  margin-right: 10px;
}


/* Landing Page Styling */

#landing-page-top {
  width: 70%;
  margin: 0 auto;
  margin-top: 180px;
}

#landing-page-top button{
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
  background-color: black;
  border: none

}

#landing-page-top h1{
  font-size: 70px;
  line-height: 65px;
  margin-bottom: 30px;
}


#landing-page-top h3{
  font-size: 24px;
  line-height: 20px;
}

/* End LP */

/* Table styling */


table{
  border-collapse: separate !important;
  border-spacing: 5px !important;
}

table, thead, tbody, tr, th, td{
  border-radius: 15px;
  border: none !important
}

th:first-of-type {
  width: 20% !important;
  background-color: transparent !important;
}


th, td{
  /* margin: 5px !important; */
  padding: 8px !important;
  text-align: center !important;
  vertical-align: middle !important;
}



th button{
  margin-left: 10px;
}

th{
  background-color: rgb(67, 67, 67) !important;
  color: white !important;
}

td{
  background-color: rgb(48, 48, 196) !important;
  color: white !important
}

tr td:first-of-type{
  font-weight: 800;
  font-size: 14px;
  background-color: rgb(67, 67, 67) !important;
  color: white !important
}

#hidden-companies{
  margin-bottom: 20px;
}

#hidden-companies button{
  margin: 5px;
}

#hidden-companies-header{
  margin-bottom: 10px;
}

/* End table styling */


/* h1, p, body{
  margin: 0;
  padding: 0
}

form {
  display: flex;
  flex-direction: column;
}

form div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

form input{
  width: 200px;
}

#form-container{
  margin: 0 auto;
  margin-top: 40px;
  width: 400px;
}

nav{
  padding: 10px;
  background-color: black;
  color: white;
}

#your-website input{
  margin-right: 35px;
}

i:hover{
  cursor: pointer;
}

button{
  margin: 5px;
  padding: 4px;
}

input:invalid{
  border: 1px dotted red;
} */
