h1, p, body{
  margin: 0;
  padding: 0
}

form {
  display: flex;
  flex-direction: column;
}

form div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

form input{
  width: 200px;
}

#form-container{
  margin: 0 auto;
  margin-top: 40px;
  width: 400px;
}

nav{
  padding: 10px;
  background-color: black;
  color: white;
}

#your-website input{
  margin-right: 35px;
}

i:hover{
  cursor: pointer;
}

button{
  margin: 5px;
  padding: 4px;
}

input:invalid{
  border: 1px dotted red;
}